
<%# This is currently not used! It was created for having an attached info sheet picture.
We no longer need that.
If we want to use it again, enable it in the comp_application model, confirm method
%>

<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Kedves <%= @comp_application.user.name %>!</h3>
<p>
  A <%= @comp_application.competition.convention.name %> rendezvényen megrendezett <%= @comp_application.competition.name %> versenyre a jelentkezésedet elfogadtuk.
</p>
<p>
  <%= image_tag(attachments['cosplay_infosheet.jpg'].url) %>
  <%= @comp_application.competition.welcome_info %>
</p>
<p>
  Üdvözlettel,<br>
  A Szervezők
</p>
</body>
</html>








