<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Kedves <%= @ticket_order.user.name %>!</h3>
<p>
  Megérkezett az általad befizetett pénz és így sikerült <%= @ticket_order.quantity %> db jegyet a <%= @ticket_order.ticket.convention.name %> rendezvényre.
</p>
<p>
  Ne felejtsd el feljegyezni és magaddal hozni a rendelési kódodat:
  <b>MC<%= @ticket_order.id %></b>
  Ennek segítségével tudunk azonosítani majd. Jegyedet az elővételes pultnál veheted át a kód és a rendelésnél használt neved bemondásával.
</p>
<p>
  Az alábbi QR kódot ha elhozod magaddal (akár kinyomtatva, akár a telefonodon), akkor a beléptetésnél gyorsabban kapod meg a jegyeket.
  Ezt a rendszert most nyáron még csak kísérleti jelleggel vezetjük be, de reményeink szerint segít majd a sorbanállás lerövidítésében.
</p>
<p>
  <%
    ticket_url = ticket_order_url(@ticket_order)
  %>
  <%= link_to 'Jegy linkje', @ticket_order  %>
  <div class="image">
    <%= image_tag(generate_qr(ticket_url), class: "qr-code") %>
  </div>

</p>
<p>
  Üdvözlettel,<br>
  A Szervezők
</p>
</body>
</html>








