

<!--<div class="padded well">-->
<!--  <h4>Debug information:</h4>-->
<!--  <p>parameters for the call:</p>-->
  <%#= @payment_params %>
<!--  <br>-->
<!--</div>-->

<div class="padded well">
  <%= t('ticketing.order_id') %>:
  <%= @payment_params[:OrderID] %>
  <br>
  <%= t('ticketing.user_side.type_of_ticket') %>:
  <%= @article %>
  <br>
  <%= t('ticketing.quantity') %>:
  <%= @payment_params[:Quantity_1] %>
  <br>
  <%= t('ticketing.total_price') %>:
  <%= @payment_params[:Amount] %>
  <br>

</div>

<div class="padded well">
  <p align="center">
    <%= t('ticketing.user_side.bank_card_payment') %>
  </p>
  <div align="center">
    <% if Rails.configuration.x.mypos.testing %>
      <% form_link='https://mypos.com/vmp/checkout-test' %>
    <% else %>
      <% form_link='https://mypos.com/vmp/checkout' %>
    <% end %>

    <form action=<%= form_link %> method="post">
      <% @payment_params.each do | param_key, param_value | %>
        <input type="hidden" name="<%= param_key %>" value="<%= param_value %>" >
      <% end %>
      <input class="btn btn-primary" type="submit" value='<%=  t('ticketing.user_side.pay_button') %>' />
    </form>
  </div>
  <div align="center">
    <%= image_tag "payments_powered_by_mypos_kicsi.png" %>
  </div>
</div>

<!--
<div class="padded well">
  <p align="center">
    <%= t('ticketing.user_side.transfer_payment') %>
  </p>

  <p>
    Tudnivalók: olvasd el figyelmesen az átutalás
    <%= link_to 'határidejét!', "http://www.mondocon.hu/jegyvasarlas", :target => '_blank' %>
    Az ezután feladott utalásokat nem tudjuk figyelembe venni.<br>
    Teendőid: saját számládról netbank felületen át tudod átutalni a jegy árát, vagy bármelyik bankfiókból elintézheted. Ekkor azt kell mondanod, hogy szeretnél befizetéssel átutalni, a kasszánál megcsinálják helyetted a papírmunkát.
    Mindkét esetben a lentebb látható adatokat kell megadnod. Semmiképp se felejtsd el a közleményben feltűntetni az alábbi kódot!
  </p>
  <p>
    Összeg: <%= @payment_params[:Amount] %>
    <br>
    Kedvezményezett: MangaFan Kiadói Kft.<br>
    2310 Szigetszentmiklós, Széna u. 16<br>
    ERSTE 11600006-00000000-15333629<br>
    Közlemény:
    elővételi kód: <b><%= @payment_params[:OrderID] %></b>, saját neved (amivel erre a honlapra regisztráltál)<br>
  </p>

  <p>
    <% ticket_id = @payment_params[:OrderID][2 .. -1] %>
    <%=  link_to t('ticketing.user_side.send_email_button') , reminder_email_path(id: ticket_id), method: :put %>
  </p>
  <p>
    Az átutalások feldolgozása több munkanapot is igényebe vehet. Kérjük légy türelemmel!
  </p>
  <p>
    <i>Because of the high transaction cost involved with transfers from foreign currencies, this payment option is only available to those who have a HUF bank account.</i>
  </p>

</div>
-->



