<table class="table">
  <tr>
    <td>
      <%= t('webshop.address.name') %>
    </td>
    <td>
      <%= delivery_address.name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('webshop.address.city') %>
    </td>
    <td>
      <%= delivery_address.city %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('webshop.address.zip') %>
    </td>
    <td>
      <%= delivery_address.zip %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('webshop.address.street_address') %>
    </td>
    <td>
      <%= delivery_address.street_address %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('webshop.address.phone') %>
    </td>
    <td>
      <%= delivery_address.phone %>
    </td>
  </tr>

</table>