
<div class ="page-header">
  <div class="header">
    <%= t('webshop.order.title', id: order.id) %>
  </div>
</div>
<h4>&nbsp;</h4>
<div class="padded well">

  <h4>
    <%= t('webshop.order.user_name') %>
    <%= order.user.name %>
  </h4>
  <h4>
    <%= t('webshop.order.status') %>
    <%= t("webshop.order.state.#{order.status}") %>
  </h4>

  <table class="table">
    <thead>
    <tr>
      <th>Termék</th>
      <th>Darabszám</th>
      <th>Termék ára</th>
      <th>Tétel ára</th>
    </tr>
    </thead>
    <% order.line_items.each do | line_item | %>
      <tr>
        <td>
          <%=  link_to line_item.product.name, line_item.product %>
        </td>
        <td>
          <%= t('webshop.order.quantity', quantity: line_item.quantity) %>
          <% if order.status == 'in_cart' && current_user == order.user %>
            <%= link_to "+1", add_to_basket_path(id: line_item.product.id), method: :patch, class: "btn btn-primary" %>
            <%= link_to "-1", take_from_basket_path(id: line_item.product.id), method: :patch, class: "btn btn-primary" %>

        <% end %>
        </td>
        <td>
          <%=  line_item.product.price %>
        </td>
        <td>
          <%=  (line_item.product.price * line_item.quantity) %>
        </td>
      </tr>

    <% end %>
  </table>

  <%= t('webshop.order.total_price', total_price: order.total_price) %>
  <h4>&nbsp;</h4>


  <% delivery_address = order.delivery_address %>
  <h4>
    <%= t('webshop.address.title') %>
  </h4>
  <%= render delivery_address unless delivery_address.blank? %>

  <% if order.status == 'in_cart' %>
    <% if order.delivery_address.present? %>
      <%= link_to t('webshop.order.edit_address_button'), edit_delivery_address_path(order.delivery_address), class: "btn btn-primary" %>
      <div class="center">
        <%= link_to t('webshop.order.submit_button'), submit_order_path(id: order.id), method: :patch, class: "btn btn-primary" %>
      </div>
    <% else %>
      <%= t('webshop.order.ask_for_address') %>
      <div class="center">
        <%= link_to t('webshop.order.add_address_button'), new_delivery_address_path(addressable_id: order.id, addressable_type: 'Order'), class: "btn btn-primary" %>
      </div>


    <% end %>
  <% end %>

</div>
