<div class="jumbotron row">
  <div class="col-md-6 col-md-offset-1">
    <%= form_for(@comp_application,
                 :multipart => true,
                 :html => {:class => "form-horizontal left fullscreen_form" }) do | f| %>

        <%= f.hidden_field :competition_id, :value => @comp_application.competition.id %>


        <%= render 'application/error_messages', object: f.object %>

        <%# Nickname of user Field  %>
        <div class="form-group">
          <%= f.label t('competition.nickname')  %>
          <%= f.text_field :nickname %>
        </div>


        <%# Name of Character, Source - Cosplay only fields %>
        <% if @comp_application.competition.is_cosplay? %>
            <div class="form-group">
              <%= f.label t('competition.name_of_character')  %>
              <%= f.text_field :character_name %>
            </div>

            <div class="form-group">
              <%= f.label t('competition.source_of_character')  %>
              <%= f.text_field :character_source %>
              <i><%= t('competition.user_side.fandom_explained') %></i>
            </div>
        <% end %>


        <%# Primary Image Field
        Label varies by competition type %>
        <div class="form-group">
          <%= f.label (@comp_application.competition.is_cosplay? ? t('competition.primary_cosplay_image') : t('competition.primary_art_image') )  %>
          <% if @comp_application.primary_image.present? %>
              <%= image_tag (@comp_application.primary_image.variant(resize: "400x400")) %>
          <% end %>
          <%= f.file_field :primary_image %>
          <%# Explanation - Cosplay only %>
          <% if @comp_application.competition.is_cosplay? %>
              <i><%= t('competition.user_side.primary_image_explained') %></i>
          <% else %>
              <i><%= t('competition.user_side.primary_art_explained') %></i>
          <% end %>
        </div>


        <%# Music/video uploaded %>
        <% if @comp_application.competition.require_music_upload? %>
            <div class="form-group">
              <%= f.label t('competition.stage_music') %>
              <% if @comp_application.stage_music.present? %>
                  <%= link_to @comp_application.stage_music.filename, (@comp_application.stage_music) %>
              <% end %>
              <%= f.file_field :stage_music %>
              <i><%= t('competition.user_side.stage_music_explained') %></i>
            </div>
        <% end %>

        <% if @comp_application.competition.select_music_from_list? %>
            <div class="form-group">
              <%= f.label t('competition.select_music') %>
              <%= f.select :selected_music, Competition::MUSIC_OPTIONS %>
            </div>
        <% end %>

        <%# Extra images - if allowed
        Label varies by competition type %>
        <% if @comp_application.competition.extra_images?  %>
            <div class="form-group">
              <%= f.label (@comp_application.competition.is_cosplay? ? t('competition.extra_cosplay_image') : t('competition.extra_art_image') )  %>

              <% if @comp_application.extra_image1.present? %>
                  <%= image_tag (@comp_application.extra_image1.variant(resize: "400x400")) %>
              <% end %>
              <% if @comp_application.extra_image2.present? %>
                  <%= image_tag (@comp_application.extra_image2.variant(resize: "400x400")) %>
              <% end %>
              <%= f.file_field :extra_image1 %>
              <%= f.file_field :extra_image2 %>

              <%# Explanation - Cosplay only %>
              <% if @comp_application.competition.is_cosplay? %>
                  <i><%= t('competition.user_side.extra_images_cosplay_explained') %></i>
              <% end %>

              <%# Explanation - Digital Art only %>
              <% if @comp_application.competition.subtype == 'rajz_cg' %>
                  <i><%= t('competition.user_side.extra_images_digital_art_explained') %></i>
              <% end %>

            </div>
        <% end %>


        <%# Group name, members - Group Cosplay only fields %>
        <% if @comp_application.competition.group_members? %>
            <div class="form-group">
              <%= f.label t('competition.group_name')  %>
              <%= f.text_field :group_name, :maxlength => 35 %>
            </div>

            <div class="form-group">
              <%= f.label t('competition.group_member_names')  %>
              <%= f.text_area :group_members %>
              <i><%= t('competition.user_side.group_list_explained') %></i>
            </div>
        <% end %>


        <%# Stage requests - if allowed %>
        <% if @comp_application.competition.perf_requests?  %>
            <div class="form-group">
              <%= f.label t('competition.perf_requests')  %>
              <%= f.text_area :perf_requests %>
              <i><%= t('competition.user_side.perf_requests_explained') %></i>
            </div>
        <% end %>


        <%# Veteran checkbox - if allowed %>
        <% if @comp_application.competition.ask_veteran?  %>
            <div class="form-group">
              <%= f.label t('competition.veteran') %>
              <%= f.check_box :veteran %>
              <i><%= t('competition.user_side.veteran_explained') %></i>
            </div>
        <% end %>

        <%# Age checkbox - if allowed %>
        <% if @comp_application.competition.ask_age?  %>
            <div class="form-group">
              <%= f.label t('competition.age') %>
              <%= f.check_box :age %>
              <i><%= t('competition.user_side.age_explained') %></i>
            </div>
        <% end %>

        <%# Consent checkbox - if allowed
        This field is virtual, will not be stored in DB. %>
        <% if @comp_application.competition.consent_required?  %>
            <div class="form-group">
              <%= f.label t('competition.consent') %>
              <%= f.check_box :consent %>
              <i><%= t('competition.user_side.consent_explained') %></i>
            </div>
        <% end %>


        <%= f.submit t('competition.user_side.send_app_button'), class: "btn btn-primary" %>

    <% end %>
  </div>

</div>
