<% provide(:title, @comp_application.competition.name ) %>

<div class ="page-header">
  <h1><%= @comp_application.competition.convention.name%> - <%= @comp_application.competition.name  %></h1>
</div>

<div class="jumbotron">
  <dl>

    <dt><%= t('competition.name_of_competitor') %></dt>
    <dl><%= @comp_application.user.name %></dl>

    <%# Nickname of user Field  %>
    <dt><%= t('competition.nickname') %></dt>
    <dl><%= @comp_application.nickname %></dl>


    <%# Name of Character, Source - Cosplay only fields %>
    <% if @comp_application.competition.is_cosplay? %>

        <dt><%= t('competition.name_of_character') %></dt>
        <dl><%= @comp_application.character_name %></dl>

        <dt><%= t('competition.source_of_character') %></dt>
        <dl><%= @comp_application.character_source %></dl>

    <% end %>

    <%# Primary Image Field
    Label varies by competition type %>

    <dt><%= @comp_application.competition.is_cosplay? ? t('competition.primary_cosplay_image') : t('competition.primary_art_image')
    %></dt>
    <dl><%= image_tag (@comp_application.primary_image.url(:medium)) %></dl>
    <dl><%= link_to t('competition.full_size_image'), @comp_application.primary_image.url %></dl>

    <%# Music/video uploaded - If required %>
    <% if @comp_application.competition.require_music_upload? %>
        <dt><%= t('competition.stage_music') %></dt>
        <dl><%= link_to @comp_application.stage_music_file_name, @comp_application.stage_music.url %></dl>
    <% end %>

    <% if @comp_application.competition.select_music_from_list? %>
        <dt><%= t('competition.selected_music') %></dt>
        <dl><%= @comp_application.selected_music %></dl>
    <% end %>


    <%# Extra images - if allowed
    Label varies by competition type %>
    <% if @comp_application.competition.extra_images? %>
        <dt><%= @comp_application.competition.is_cosplay? ? t('competition.extra_cosplay_image') : t('competition.extra_art_image')
        %></dt>
        <dl>
          <% if @comp_application.extra_image1.present? %>
            <%= image_tag (@comp_application.extra_image1.url(:medium)) %>
          <% end %>
          <% if @comp_application.extra_image2.present? %>
            <%= image_tag (@comp_application.extra_image2.url(:medium)) %>
          <% end %>
        </dl>
    <% end %>


    <%# Group name, members - Group Cosplay only fields %>
    <% if @comp_application.competition.group_members? %>
        <dt><%= t('competition.group_name') %></dt>
        <dl><%= @comp_application.group_name %></dl>

        <dt><%= t('competition.group_members')%></dt>
        <dl><%= @comp_application.group_members %></dl>

    <% end %>


    <%# Stage requests - if allowed %>
    <% if @comp_application.competition.perf_requests?  %>
        <dt><%= t('competition.perf_requests')%></dt>
        <dl><%= @comp_application.perf_requests %></dl>
    <% end %>


    <%# Veteran checkbox - if allowed %>
    <% if @comp_application.competition.ask_veteran?  %>
        <dt><%= t('competition.veteran')%></dt>
        <dl><%= @comp_application.veteran ? t('yes') : t('no') %></dl>
    <% end %>

    <%# Age checkbox - if allowed %>
    <% if @comp_application.competition.ask_age?  %>
        <dt><%= t('competition.age')%></dt>
        <dl><%= @comp_application.age ? t('yes') : t('no') %></dl>
    <% end %>


    </dl>

  </dl>

</div>
