<% provide(:title, @comp_application.competition.name ) %>

<div class ="page-header">
  <h1><%= @comp_application.competition.convention.name%> - <%= @comp_application.competition.name  %></h1>
</div>

<div class="jumbotron">
  <dl>
    <dt><%= t('competition.nickname') %></dt>
    <dl><%= @comp_application.nickname %></dl>

    <dt><%= t('competition.name_of_character') %></dt>
    <dl><%= @comp_application.character_name %></dl>

    <dt><%= t('competition.source_of_character') %></dt>
    <dl><%= @comp_application.character_source %></dl>

    <dt><%= t('competition.primary_image') %></dt>
    <dl><%= image_tag (@comp_application.primary_image.url(:medium)) %></dl>

    <dt><%= t('competition.stage_music') %></dt>
    <dl><%= link_to @comp_application.stage_music_file_name, @comp_application.stage_music.url %></dl>

    <% if @comp_application.competition.extra_images? %>
        <dt><%= t('competition.extra_image')%></dt>
        <dl>
          <% if @comp_application.extra_image1.present? %>
            <%= image_tag (@comp_application.extra_image1.url(:medium)) %>
          <% end %>
          <% if @comp_application.extra_image2.present? %>
            <%= image_tag (@comp_application.extra_image2.url(:medium)) %>
          <% end %>
        </dl>
    <% end %>


    <% if @comp_application.competition.group_members? %>
        <dt><%= t('competition.group_name') %></dt>
        <dl><%= @comp_application.group_name %></dl>

        <dt><%= t('competition.group_members')%></dt>
        <dl><%= @comp_application.group_members %></dl>

    <% end %>

    <% if @comp_application.competition.perf_requests?  %>
        <dt><%= t('competition.perf_requests')%></dt>
        <dl><%= @comp_application.perf_requests %></dl>
    <% end %>

    <% if @comp_application.competition.ask_veteran?  %>
        <dt><%= t('competition.veteran')%></dt>
        <dl><%= @comp_application.veteran ? t('yes') : t('no') %>
    <% end %>

    </dl>

  </dl>

</div>
