<% provide(:title, @comp_application.competition.name ) %>

<div class ="page-header">
  <h1><%= @comp_application.competition.convention.name%> - <%= @comp_application.competition.name  %></h1>
</div>

<div class="jumbotron">
  <dl>

    <dt><%= t('competition.name_of_competitor') %></dt>
    <dl><%= @comp_application.user.name %></dl>

    <%# Nickname of user Field  %>
    <dt><%= t('competition.nickname') %></dt>
    <dl><%= @comp_application.nickname %></dl>

    <dt><%= t('competition.email_address') %></dt>
    <dl><%= @comp_application.user.email %></dl>


    <%# Name of Character, Source - Cosplay only fields %>
    <% if @comp_application.competition.is_cosplay? %>

        <dt><%= t('competition.name_of_character') %></dt>
        <dl><%= @comp_application.character_name %></dl>

        <dt><%= t('competition.source_of_character') %></dt>
        <dl><%= @comp_application.character_source %></dl>

    <% end %>

    <%# Primary Image Field
    Label varies by competition type %>

    <% if @comp_application.competition.has_image? %>
      <dt><%= @comp_application.competition.is_cosplay? ? t('competition.primary_cosplay_image') : t('competition.primary_art_image')
      %></dt>
        <% if @comp_application.primary_image.attached? %>
          <dl><%= image_tag (@comp_application.primary_image.variant(resize: "400x400")) %></dl>
          <dl><%= link_to t('competition.full_size_image'), @comp_application.primary_image.url %></dl>
        <% else %>
            <dl>MISSING IMAGE</dl>
        <% end %>
    <% end %>


    <%# AMV specific fields %>
    <% if @comp_application.competition.is_amv? %>
      <dt><%= t('competition.amv_video') %></dt>
      <dl>
        <% if @comp_application.stage_music.attached? %>
          <%= link_to @comp_application.stage_music.filename, @comp_application.stage_music.url %>
        <% else %>
          MISSING AMV
        <% end %>
      </dl>

      <dt><%= t('competition.title')  %></dt>
      <dl><%= @comp_application.title %></dl>

      <dt><%= t('competition.description')  %></dt>
      <dl><%= @comp_application.description %></dl>

      <dt><%= t('competition.amv_effects')  %></dt>
      <dl><%= @comp_application.includes_effects ? t('yes') : t('no') %></dl>


      <dt><%= t('competition.amv_source')  %></dt>
      <dl><%= @comp_application.character_source %></dl>

      <dt><%= t('competition.amv_music_description')  %></dt>
      <dl><%= @comp_application.music_description %></dl>

      <dt><%= t('competition.amv_group')  %></dt>
      <dl><%= @comp_application.group_name %></dl>

  <% end %>


    <%# Music/video uploaded - If required %>
    <% if @comp_application.competition.require_music_upload? %>
        <dt><%= t('competition.stage_music') %></dt>
        <dl>
          <% if @comp_application.stage_music.attached? %>
            <%= link_to @comp_application.stage_music.filename, @comp_application.stage_music.url %>
          <% else %>
            MISSING MUSIC
          <% end %>
        </dl>
    <% end %>

    <% if @comp_application.competition.select_music_from_list? %>
        <dt><%= t('competition.selected_music') %></dt>
        <dl><%= @comp_application.selected_music %></dl>
    <% end %>


    <%# Extra images - if allowed
    Label varies by competition type %>
    <% if @comp_application.competition.extra_images? %>
        <dt><%= @comp_application.competition.is_cosplay? ? t('competition.extra_cosplay_image') : t('competition.extra_art_image')
        %></dt>
        <dl>
          <% if @comp_application.extra_image1.present? %>
            <%= image_tag (@comp_application.extra_image1.variant(resize: "400x400")) %>
          <% end %>
          <% if @comp_application.extra_image2.present? %>
            <%= image_tag (@comp_application.extra_image2.variant(resize: "400x400")) %>
          <% end %>
        </dl>
    <% end %>


    <%# Group name, members - Group Cosplay only fields %>
    <% if @comp_application.competition.group_members? %>
        <dt><%= t('competition.group_name') %></dt>
        <dl><%= @comp_application.group_name %></dl>

        <dt><%= t('competition.group_members')%></dt>
        <dl><%= @comp_application.group_members %></dl>

    <% end %>


    <%# Stage requests - if allowed %>
    <% if @comp_application.competition.perf_requests?  %>
        <dt><%= t('competition.perf_requests')%></dt>
        <dl><%= @comp_application.perf_requests %></dl>
    <% end %>

    <%# Fields for karaoke %>
    <% if @comp_application.competition.is_karaoke? %>
      <dt><%= t('competition.karaoke_music1')%></dt>
      <dl><%= @comp_application.karaoke1 %></dl>
    <% end %>
    <%# The 'karaoke_1song' type does not have a second song field %>
    <% if @comp_application.competition.subtype == 'karaoke' %>
      <dt><%= t('competition.karaoke_music2')%></dt>
      <dl><%= @comp_application.karaoke2 %></dl>
    <% end %>


  <%# Veteran checkbox - if allowed %>
    <% if @comp_application.competition.ask_veteran?  %>
        <dt><%= t('competition.veteran')%></dt>
        <dl><%= @comp_application.veteran ? t('yes') : t('no') %></dl>
    <% end %>

    <%# Age checkbox - if allowed %>
    <%# boolean version %>
    <%# if @comp_application.competition.ask_age?  %>
<!--        <dt><%#= t('competition.age')%></dt>-->
<!--        <dl><%#= @comp_application.age ? t('yes') : t('no') %></dl>-->
    <%# end %>

    <%# Age checkbox - if allowed %>
    <% if @comp_application.competition.ask_age?  %>
      <dt><%= t('competition.age')%></dt>
      <dl><%= @comp_application.age_in_years %></dl>
    <% end %>

    <% if @comp_application.competition.has_combo? %>
      <dt><%= t('competition.combo_comp.label') %></dt>
      <dl>
        <% case @comp_application.combo_comp
        when "both" %><%= t('competition.combo_comp.both') %>
        <% when "basic" %><%= t('competition.combo_comp.basic') %>
        <% when "extra" %><%= t('competition.combo_comp.extra', comp: @comp_application.competition.combo_comp) %>
        <% end %>
      </dl>
    <% end %>

    <% if schedule_options = @comp_application.competition.available_schedule_options %>
      <dt><%= t('competition.schedule') %></dt>
      <dl><%= @comp_application.schedule_picked %></dl>
    <% end %>

  </dl>

  </dl>

</div>
