<% provide(:title, @product_category.name ) %>

<div class ="page-header">
  <h1><%= @product_category.name  %></h1>
  <% if @product_category.product_image.attached? %>
    <div class="center">
      <%= image_tag (@product_category.product_image) %>
    </div>
  <% end %>
  <h4>
    <% @product_category.taxonomic_path.each do | parent_category| %>
      <%= link_to parent_category.name, parent_category %>
      >
    <% end %>
  </h4>
</div>

<div class="container">
  <%= paginate @products, param_name: :products_page %>
  <div class="row">

    <% if @product_category.products.empty? && @product_category.children.empty? %>
      <div class="padded well">
        NINCSENEK TERMÉKEK EBBEN A KATEGÓRIÁBAN.
      </div>
    <% else  %>

      <% @product_category.children.order(name: :asc).each do | child_category | %>
        <div class="col-lg-6">
          <div class="padded well">
            <%= link_to (image_tag child_category.product_image), child_category %>
            <%= link_to child_category.name, child_category %>
          </div>
        </div>
      <% end %>

      <% @products.each do | product | %>
        <div class="col-lg-6">
          <div class="row padded well">
            <div class="col-md-6">
              <% if product.product_image.attached? %>
                <dl><%= image_tag (product.product_image.variant(resize: "300x300")) %></dl>
              <% end %>
              <%= link_to t('webshop.further_details'), product, class: "btn btn-primary" %>
              <% if current_user %>
                <%= link_to t('webshop.add_to_basket'), add_to_basket_path(id: product.id), method: :patch, class: "btn btn-primary" %>
              <% else %>
                <%= link_to t('webshop.login_to_shop'), new_user_session_path, class: "btn btn-primary" %>
              <% end %>
            </div>
            <div class="col-md-6">
              <h3><%= product.name %></h3>
              <p>Státusz: <%= product.status_localized %></p>
              <p>
                <%= product.price %> Ft</p>
              <p><%= product.description.truncate_words(30)  %></p>
            </div>
          </div>
        </div>

      <% end %>

    <% end  %>


  </div>
  <%= paginate @products, param_name: :products_page %>
</div>

