<tr>

  <td>
    <%= ticket_order.ticket.convention.name %>
  </td>

  <td>
    <%= ticket_order.ticket.name %>
  </td>

  <td>
    <%= ticket_order.quantity %>
  </td>

  <td>
    <%= ticket_order.total_price %>
  </td>

  <td>
    MC<%= ticket_order.id %>
  </td>

  <% if ticket_order.status == 'accepted' %>
      <td class="success">
        <%= ticket_order.status_localized %>
        <%=  link_to t('ticketing.user_side.reminder_button') , reminder_email_path(id: ticket_order.id), method: :put %>
      </td>
  <% else %>
      <td class="danger">
        <%= ticket_order.status_localized %>
        -
        <% if ticket_order.ticket.on_sale? %>
          <%=  link_to t('ticketing.user_side.pay_button') , payment_checkout_path("MC" + ticket_order.id.to_s), method: :get %>
        <% else %>

          <%= t('ticketing.sale_over') %>
        <% end %>
      </td>
  <% end %>




</tr>