<% provide(:title, t('title.ticket_admin')) %>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="padded well">
        <p class="center"><%= t('ticketing.admin.ticket_orders_listing')%></p>
        <%= will_paginate @ticket_orders, param_name: 'ticket_orders_page' %>
        <table class="table">
          <thead>
          <tr>
            <th><%= sortable('id', t('ticketing.order_id')) %></th>
            <th><%= sortable('name', t('ticketing.name_of_buyer'))  %></th>
            <th><%= t('ticketing.user_side.convention') %></th>
            <th><%= t('ticketing.user_side.type_of_ticket') %></th>
            <th><%= sortable('quantity', t('ticketing.quantity')) %></th>
            <th><%= t('ticketing.total_price') %></th>
            <th><%= sortable('status', t('ticketing.status')) %></th>
          </tr>
          </thead>

          <% @ticket_orders.each do | ticket_order | %>
            <tr>
              <td>MC<%= ticket_order.id %></td>
              <td><%= ticket_order.user.name %></td>
              <td><%= ticket_order.ticket.convention.name %></td>
              <td><%= ticket_order.ticket.name %></td>
              <td><%= ticket_order.quantity %></td>
              <td><%= ticket_order.total_price %></td>
              <% if ticket_order.status == 'accepted' %>
                  <td class="success"><%= ticket_order.status_localized %></td>
                  <td>
                    <%=  link_to t('ticketing.unconfirm_button') , unconfirm_ticket_path(id: ticket_order.id), method: :patch %>
                  </td>
                  <td>
                    <%=  link_to t('ticketing.user_side.reminder_button') , reminder_email_path(id: ticket_order.id), method: :put %>
                  </td>
              <% elsif ticket_order.status == 'pending' %>
                  <td class="danger"><%= ticket_order.status_localized %></td>
                  <td>
                    <%=  link_to t('ticketing.confirm_button') , confirm_ticket_path(id: ticket_order.id), method: :patch %>
                  </td>
                  <td>
                    <%=  link_to t('ticketing.user_side.reminder_button') , reminder_email_path(id: ticket_order.id), method: :put %>
                  </td>
              <% elsif ticket_order.status == 'delivered' %>
                  <td class="success"><%= ticket_order.status_localized %></td>
              <% else %>
                  <td class="danger"><%= ticket_order.status_localized %></td>

              <% end %>
            </tr>
          <% end %>
        </table>
        <%= will_paginate @ticket_orders, param_name: 'ticket_orders_page' %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="padded well">
        <p class="center"><%= t('ticketing.admin.upload_file')%></p>
        <%= form_tag import_bank_transactions_path, multipart: true do  %>
            <%= file_field_tag :file %>
            <%= submit_tag t('ticketing.admin.upload_file') %>
        <% end %>
        <br>
        <% if Convention.active.any? %>
            <div>
              <%=  link_to t('ticketing.admin.download_csv') , export_csv_path, method: :get %>
            </div>
            <br>
            <p class="center">
              <%= t('ticketing.admin.statistics_title') %>
              <%= Convention.active.first.name %>
            </p>
            <div>
              <% no_sold = TicketOrder.active.where(status: 'accepted').sum(:quantity) %>
              <%= t('admin_dashboard.no_of_confirmed', number: no_sold) %>
              <% no_pending = TicketOrder.requires_attention.sum(:quantity) %>
              <%= t('admin_dashboard.no_of_pending', number: no_pending) %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="padded_well">
      <p class="center"><%= t('ticketing.admin.payments_listing')%></p>
      <table class="table">
        <thead>
        <tr>
          <th><%= t('ticketing.admin.sender_of_transaction')%></th>
          <th><%= t('ticketing.admin.amount_of_transaction')%></th>
          <th><%= t('ticketing.admin.comment_of_transaction')%></th>
          <th><%= t('ticketing.admin.date_of_transaction')%></th>
          <th><%= t('ticketing.order_id') %></th>
          <th><%= t('ticketing.admin.problem') %></th>
        </tr>
        </thead>

        <% bank_transactions = BankTransaction.requires_human %>
        <%= render bank_transactions %>

      </table>
    </div>

  </div>
</div>
