<% if Ticket.on_sale.any? %>
    <div class="col-lg-6">
      <div class="padded well">

        <p class="center"><%= t('ticketing.user_side.buy_tickets')%></p>

        <%= form_for(@ticket_order, :html => {:class => "form-horizontal center" } ) do | f | %>
            <div class="form-group">
              <%= f.label t('ticketing.quantity') %>
              <%= f.number_field :quantity, min: 1 %>
            </div>
            <div class="form-group">
              <%= f.label t('ticketing.user_side.type_of_ticket') %>
              <% tickets_on_sale = Ticket.on_sale.pluck(:name, :id) %>
              <%= f.select :ticket_id, tickets_on_sale, :selected => tickets_on_sale.first.second %>
            </div>
            <%= f.submit t('ticketing.user_side.order_button'), class: "btn btn-primary" %>
        <% end %>

<%= t('ticketing.user_side.note_for_purchase') %>

      </div>
    </div>
<% end %>