<% if current_user.competitions_to_apply.any? %>
    <div class="col-lg-6">
      <div class="padded">

        <h1 class="center"><%= t('competition.user_side.open_comps')%></h1>

        <table class="table">
          <thead>
          <tr>
            <th><%= t('competition.convention') %></th>
            <th><%= t('competition.competition_name') %></th>
            <th><%= t('competition.user_side.reserved_places') %></th>
          </tr>
          </thead>
          <% current_user.competitions_to_apply(show_full: true).each do | comp | %>
            <tr>
              <td><%= comp.convention.name %></td>
              <td><%= comp.name  %></td>
              <td><%= comp.max_applications ? (comp.comp_applications.length.to_s + " / " + comp.max_applications.to_s) : t('competition.user_side.unlimited') %>
              </td>
              <td>
                <% if comp.max_applications && comp.comp_applications.length >= comp.max_applications  %>
                  <%= t('competition.user_side.fully_booked') %>
                <% else %>
                  <%= link_to t('competition.user_side.apply'), new_comp_application_path(competition_id: comp.id) %>
                <% end %>
              </td>
            </tr>
          <% end %>


        </table>

      </div>
    </div>
<% end %>