<div class="container">
  <div class="row">

    <%= render partial: 'ticket_lookup' %>

    <%= render partial: 'your_tickets' %>

    <%= render partial: 'current_sales' %>

    <%= render partial: 'your_competitions' %>

    <%= render partial: 'current_open_competitions' %>

    <%= render partial: 'nothing_to_do' %>

    <%= render partial: 'book_booth' %>
    
    <%= render partial: 'competition_administration' %>


  </div>



</div>


