
<% if current_user.has_role? :ticketeer %>
  <div class="col-lg-6">
    <div class="padded well">
      <p class="center"><%= t('title.ticket_lookup')%></p>
      <%= form_tag lookup_ticket_path, method: :get do %>
        <%= t('ticketing.search_field') %><br>
        <%= label_tag 'MC' %>
        <%= text_field_tag :ticket_id %>
        <%= submit_tag t('ticketing.search_button'), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

<% end %>