<% if current_user.active_orders.any? %>
    <div class="col-lg-6">
      <div class="padded well">

        <p class="center"><%= t('ticketing.user_side.your_orders')%></p>

        <table class="table">
          <thead>
          <tr>
            <th><%= t('ticketing.user_side.convention')%></th>
            <th><%= t('ticketing.user_side.type_of_ticket')%></th>
            <th><%= t('ticketing.quantity')%></th>
            <th><%= t('ticketing.total_price')%></th>
            <th><%= t('ticketing.order_id')%></th>
            <th><%= t('ticketing.status')%></th>
          </tr>
          </thead>
          <% ticket_orders = current_user.active_orders %>
          <%= render ticket_orders %>
        </table>

        <ul>
          <% if current_user.has_any_pending? %>
              <li>
                <%= t('ticketing.user_side.note_to_pending') %>
              </li>
          <% end %>
          <% if current_user.has_any_accepted? %>
              <li>
                <%= t('ticketing.user_side.note_to_accepted') %>
              </li>
          <% end %>
        </ul>

      </div>

    </div>
<% end %>
