<% provide(:title, @product.name ) %>

<div class ="page-header">
  <h1><%= @product.name  %></h1>
</div>

<div class="container">
  <div class="padded well">
    <p>Státusz: <%= @product.status %></p>
    <p>
      <% if @product.page_count %>
        <%= @product.page_count %> oldal,
      <% end %>
      <%= @product.price %> Ft</p>
    <p><%= @product.description %></p>
  </div>
</div>
