<footer class="footer">

  <%= link_to image_tag("mangafan_small.png", alt: "Mangafan Kiadó"),
              'http://mangafan.hu/' %>
  <%= link_to image_tag("mondo_small.png", alt: "Mondo Magazin"),
              'http://mondomagazin.hu/' %>
  <%= link_to image_tag("pcguru_small.png", alt: "PC Guru"),
              'http://www.pcguru.hu/' %>

  <small>
    <%= t(:footer_text)%>
  </small>


  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
