<footer class="footer">

  <div id="back_to_mondoconhu">
    <%= link_to image_tag(t('footer.back_to_mondocon_image_link'), alt: t('footer.back_to_mondocon')),
                "http://www.mondocon.hu", :target => '_blank'
    %>
  </div>

  <div id="partner_logos">
    <%= link_to image_tag("mangafan_small.png", alt: "Mangafan Kiadó"),
                'http://mangafan.hu/', :target => '_blank' %>
    <%= link_to image_tag("mondo_small.png", alt: "Mondo Magazin"),
                'http://mondomagazin.hu/', :target => '_blank' %>
  </div>

  <p>&nbsp;&nbsp;</p>
  <small>
    <ul>
      <li><%= t('footer.copyright_text')%></li>
      <li><%= mail_to "info@mondocon.hu", t('footer.contact') %></li>
    </ul>
  </small>


</footer>
